<template id="template">
    <div id="elm-node"></div>
    <script type="text/javascript">
        Elm.Main.init({
            node: document.getElementById("elm-node")
        });
    </script>
</template>
